<%= include('entity-management') %>

<!-- Renders the element description -->

<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=t.discount_management.title%></h2>
</script>

<script type="text/tmpl" id="elements_description">
    <%= t.discount_management.description %>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

  <table id="elements_table" class="table">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:15%"><%= t.discount_management.table.date_from %></th>
         <th class="table-header-title" scope="col" style="width:15%"><%= t.discount_management.table.date_to %></th>
         <th class="table-header-title" scope="col" style="width=20%"><%= t.discount_management.table.discount %>
         </th>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>

</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

    <tr class="table-row" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%%= self.formatDate(entity.date_from) %></td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%%= self.formatDate(entity.date_to) %></td>
      <td class="table-cell" rel="<%%= index %>"><%%= new Number(entity.value).toFixed(2) %><%% if (entity.discount_type=='percentage'){%>%<%%}%></td>    
    </tr>

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">


</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
              
     <form name="element" id="discount_management_form">
      <div class="container_12">  
        <div class="form-fields grid_6">
        
          <%% if (entity) { %>
          <input type="hidden" id="id" name="id" value="<%%=entity.id%>"/>
          <%% } %>

          <div class="formrow">
            <label for="date_from" class="fieldtitle"><%= t.discount_management.form.date_from %></label>
             <input type="text" name="date_from" id="date_from" class="date_control" size="15" maxlength="10"/>
          </div>

          <div class="formrow">
            <label for="date_to" class="fieldtitle"><%= t.discount_management.form.date_to %></label>
             <input type="text" name="date_to" id="date_to" class="date_control" size="15" maxlength="10"/>
          </div>
 
          <div class="formrow">
            <label for="date_to" class="fieldtitle"><%= t.discount_management.form.discount %></label>
            <input type="text" name="value" id="value" class="fieldcontrol" size="30" maxlength="10" style="width:80%" <%% if (entity) { %> value="<%%= new Number(entity.value).toFixed(2) %>" <%% } %> />
            <select name="discount_type" class="fieldcontrol" id="discount_type">
              <option value="percentage"><%= t.discount_management.form.percentage %></option>
              <option value="amount"><%= t.discount_management.form.amount %></option>            
            </select>   
          </div>
        
          <div class="bottom-navigation-bar navigation-bar">
             <div class="navigation-bar-crud-buttons">
                <%% if (entity) { %>
                  <input type="submit" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                <%% } 
                   else { %>
                  <input type="submit" class="create-entity-button action-button entity-management-button" value="<%=t.entitymanagement.create%>"/>
                <%% } %>
             </div>
          </div> 
        </div>
      </div>
     </form>
     

</script>
