<%= include('entity-management') %>

<!-- Renders the element description -->

<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=t.promotion_code_management.title%></h2>
</script>

<script type="text/tmpl" id="elements_description">
    <%= t.promotion_code_management.description %>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

  <table id="elements_table" class="table">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:40%"><%= t.promotion_code_management.table.promotion_code %></th>
         <th class="table-header-title" scope="col" style="width:15%"><%= t.promotion_code_management.table.date_from %></th>
         <th class="table-header-title" scope="col" style="width:15%"><%= t.promotion_code_management.table.date_to %></th>
         <th class="table-header-title" scope="col" style="width=20%"><%= t.promotion_code_management.table.discount %>
         </th>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>

</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

    <tr class="table-row" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%%= entity.promotion_code %></td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%%= self.formatDate(entity.date_from) %></td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%%= self.formatDate(entity.date_to) %></td>
      <td class="table-cell" rel="<%%= index %>"><%%= new Number(entity.value).toFixed(2) %><%% if (entity.discount_type=='percentage'){%>%<%%}%></td>    
    </tr>

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">


</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">

        <div class="row">
          <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="block block-content-full">
              <div class="block-header bg-gray-lighter">
                <h3 class="block-title">Datos básicos</h3>
              </div>
              <div class="block-content block-content-narrow">
                <form name="element"id="promotion_code_management_form"  method="POST" class="form-horizontal">
                  <%% if (entity) { %>
                  <input type="hidden" id="id" name="id" value="<%%=entity.id%>"/>
                  <%% } %>
                  <div class="form-group">
                    <label class="col-xs-12"><%= t.promotion_code_management.form.promotion_code %> <span class="mandatoryfield">*</span></label>
                    <div class="col-sm-9">
                      <input type="text" maxlength="80" id="promotion_code" name="promotion_code" class="form-control" <%% if (entity) {%> value="<%%=entity.promotion_code %>" <%% } %>/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-xs-12"><%= t.promotion_code_management.form.date_from %></label>
                    <div class="col-sm-9">
                      <input type="text" maxlength="15" id="date_from" name="date_from" class="form-control date_control"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-xs-12"><%= t.promotion_code_management.form.date_from %></label>
                    <div class="col-sm-9">
                      <input type="text" maxlength="15" id="date_to" name="date_to" class="form-control date_control"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-xs-12"><%= t.promotion_code_management.form.discount %></label>
                    <div class="col-sm-4">
                      <input type="text" maxlength="80" id="value" name="value" class="form-control" <%% if (entity) {%> value="<%%=new Number(entity.value).toFixed(2) %>" <%% } %>/>
                    </div>
                    <div class="col-sm-5">
                      <select name="discount_type" class="form-control" id="discount_type">
                        <option value="percentage"><%= t.promotion_code_management.form.percentage %></option>
                        <option value="amount"><%= t.promotion_code_management.form.amount %></option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-9">
                        <%% if (entity) { %>
                        <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                        <%% } else { %>
                        <input type="button" class="btn btn-sm btn-primary create-entity-button action-button entity-management-button" value="<%=t.entitymanagement.create%>"/>
                        <%% } %>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>


</script>
