<%= partial(:rate_assistant_header, :locals => {:price_definition => price_definition}) %>
<div id="page_wrapper" class="all-space">
<% if price_definition.units_management == :unitary %>

   <div class="top-margin-1line element-container all-space smaller_text">
   <% if prices[1] %>
      <form name="update_price">
      	 <label for="<%=prices[1][:id]%>" class="right-margin"><%=t.rate_price_assistant.unit%></label>
         <input type="text" size="5" maxlenght="10" name="<%=prices[1][:id]%>" value='<%="%.2f" % prices[1][:price]%>' class="price_update right_text">
      </form>
   <% else %>
      <form name="create_price" id="<%="#{price_definition.id}-1"%>">
         <input type="hidden" name="units" value="1"/>
         <input type="hidden" name="price_definition_id" value="<%=price_definition.id%>"/>
         <label for="price" class="right-margin"><%=t.rate_price_assistant.unit%></label>
         <input type="text" size="5" maxlenght="10" name="price" value="0.00" class="price_create right_text"/>
      </form>
   <% end %>
   </div>

<% else %>

<table id="elements_table" class="table smaller_text">
  <thead class="table-header">
    <tr>
      <th class="table-header-title left_text" scope="col" style="width:20%"><%=t.rate_price_assistant.units%></th>    	
      <% item_width = 80 / (price_definition.units_management_value) %>
      <% (1..price_definition.units_management_value).each do |item| %>
        <th class="table-header-title centered_text" scope="col" style="width:<%=item_width%>%"><%=item%></th>
      <% end %>
        <th class="table-header-title centered_text" scope="col" style="widht:<%=item_width%>%">Extra</th>
    </tr>
  </thead>
  <tbody class="table-tbody">  
        <tr class="table-row"> 
            <td class="table-cell centered_text less_contrast_text"><%=t.rate_price_assistant.price%></td>
          <% max = price_definition.units_management_value+1%>
          <% (1..max).each do |item| %>
            <% item = item<=price_definition.units_management_value ? item : 0 %>
            <td class="table-cell centered_text">
              <span class="less_contrast_text">
                <% if prices[item] %>	
                  <form name="update_price">
                    <input type="text" size="5" maxlenght="10" name="<%=prices[item][:id]%>" value='<%="%.2f" % prices[item][:price]%>' class="price_update right_text">
                  </form>
                <% else %>
                  <form name="create_price" id="<%="#{price_definition.id}-#{item}"%>">
                    <input type="hidden" name="units" value="<%=item%>"/>
                    <input type="hidden" name="price_definition_id" value="<%=price_definition.id%>"/>
                    <input type="text" size="5" maxlenght="10" name="price" value="0.00" class="price_create right_text"/>
                  </form>
                <% end %>
              </span>
            </td>
          <% end %>
        </tr>               
  </tbody>
</table>

<% end %>
</div>