<div id="page_wrapper">
  <% if @price_definition.apply_standard_price or @price_definition.apply_base_price or @price_definition.apply_max_price %>
    <div id="rates_header">
      <%= partial(:rate_assistant_header) %>
    </div>
  <% end %>
  <div id="rates_detail" data-price-definition-id="<%=@price_definition.id%>">
    <div class="row">
      <div class="col-lg-12">
        <span id="edit_season" role="button" class="btn btn-default pull-right" data-season-definition-id="<%=@season_definition.id%>">Gestionar temporadas</span>
      </div>
    </div>
    <div id="rates_detail_prices">
      <%= partial(:rate_assistant_rates_detail) %>
    </div>
  </div>
  <!-- ========================================= -->
  <!--         Season management MODAL           -->
  <!-- ========================================= -->
  <div class="modal fade" id="seasons_modal" tabindex="-1" role="dialog" aria-labelledby="seasonsModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <ul class="block-options">
            <li>
              <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
            </li>
          </ul>
          <h3 class="modal-title">Temporadas</h3>
        </div>
        <div class="modal-body">
          <%= partial :seasons_editor %>
        </div>
      </div>
    </div>
  </div>
  <%= partial :seasons_scripts %>
</div>