<%= include('entity-management') %>

<!-- Renders the element description -->

<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=t.rate_factor_def_management.title%></h2>
</script>

<script type="text/tmpl" id="elements_description">
    <%= t.rate_factor_def_management.description %>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

  <table id="elements_table" class="table">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:10%"><%= t.rate_factor_def_management.table.id %></th>
         <th class="table-header-title" scope="col" style="width:30%"><%= t.rate_factor_def_management.table.name %></th>
         <th class="table-header-title" scope="col" style="width:30%"><%= t.rate_factor_def_management.table.description %></th>
         <th class="table-header-title" scope="col" style="width=30%"></th>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>

</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

    <tr class="table-row" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%%= entity.id %></td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%%= entity.name %></td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%%= entity.description %></td>
      <td class="table-cell" rel="<%%= index %>"><a href="/admin/rates/factors/<%%=entity.id%>"><%=t.rate_factor_def_management.table.factors%></a></td>    
    </tr>

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">


</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
              
     <form name="element" id="rate_factor_def_management_form">
        
        <div class="form-fields">
        
          <%% if (entity) { %>
          <input type="hidden" id="id" name="id" value="<%%=entity.id%>"/>
          <%% } %>

          <div class="formrow">
            <label for="name" class="fieldtitle"><%= t.rate_factor_def_management.form.name %> <span class="mandatoryfield">*</span></label>
            <input type="text" maxlength="80" id="name" name="name" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.name %>" <%% } %> />
          </div>

          <div class="formrow">
            <label for="description" class="fieldtitle"><%= t.rate_factor_def_management.form.description %></label>
            <input type="text" maxlength="80" id="description" name="description" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.description %>" <%% } %> />
          </div>

        </div>
        
        <div class="bottom-navigation-bar navigation-bar">
             <div class="navigation-bar-crud-buttons">
                <%% if (entity) { %>
                  <input type="submit" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                <%% } 
                   else { %>
                  <input type="submit" class="create-entity-button action-button entity-management-button" value="<%=t.entitymanagement.create%>"/>
                <%% } %>
             </div>
        </div>
     
     </form>
     

</script>
